<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>Responsive Side Menu &ndash; Layout Examples &ndash; Pure</title>
    <link href = "style.css"  type="text/css"  rel="stylesheet" >
</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <img src="cassowaryLogo.png" alt="Company Logo" width="150" height="150">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="home" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="about" class="pure-menu-link">About</a></li>
                <li class="pure-menu-item"><a href="contact" class="pure-menu-link">Contact</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>Cassowary Concierge</h1>
            <h2>We take care of all of your cassowary's needs!</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">Our Mission</h2>
            <p>
                Our goal at Cassowary Concierge is to ensure that your cassowaries receive the best possible care in the
                process of learning to use a litter box.
            </p>

            <h2 class="content-subhead">Where To Schedule An Appointment</h2>
            <p>
                In the "Contact" tab on the left hand side, you can find contact information to schedule an appointment
                to start getting your cassowary litter box trained. Upon your request, one of our representatives will
                promptly reach out to you regarding your request and will send you any and all required documents to
                get us started on this journey.
            </p>

            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img src="CassowaryImage2.jpg" alt="Cassowaries">
                </div>
                Credit: <a href ="https://www.rainforestrescue.org.au/save-the-cassowary/evolution/">Rainforest Rescue</a>
                <div class="pure-g">
                    <img src="CassowaryImage1.jpg" alt="Cassowary" width="800" height="800">
                </div>
                Credit: Joel Sartore from National Geographic
            </div>

            <h2 class="content-subhead">Explore Our Website</h2>
            <p>
                Our website has been designed to tell you all about our company, our goal, and what we do. We strive to
                provide the utmost customer satisfaction, and are happy to answer any questions you may have.
            </p>
            <div>
                <img src="CassowaryConcierge.png" alt="banner" width="800">
            </div>
        </div>
    </div>
</div>

<script src="functionality.js"></script>

</body>
</html>